.table td, .table th {
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.table {    border-collapse: collapse;

}

.table thead {
    background-color: #f0f1f4;
    width: 500px;
}

.table tfoot {
    background-color: #121212;
    color: #fff;
    text-align: right;
}
